---
import LayoutPage from "@layouts/LayoutPage.astro";

const datapage = {
    titlePage:"Acerca de ",
    description:" Subtitulo General"
}

const seo = {
	title:datapage.titlePage,
	description: datapage.description,
};
---

<LayoutPage  {seo} titlepage={datapage.titlePage} subtitle={datapage.description}  >
	<section class="seccion-base pale" >
		<div class="container">
			<h3>Pale</h3>	
		</div>
		</div>
	</section>
	<section class="seccion-base contrast" >
		<div class="container">
			<h3>Contrast</h3>	
		</div>
	</section>
	<section class="seccion-base surface" >
		<div class="container">
			<h3>Surface</h3>	
		</div>
	</section>
	
	<section class="seccion-base" >
		<div class="container">
			<h3>Normal</h3>	
		</div>
	</section>
	
</LayoutPage>