---
import Layout from "@layouts/Layout.astro";

const datapage = {
    titlePage:"Ferias y Exposiciones",
    description:"Administración de Ferias y/o Exposiciones Comerciales"
}
console.log(datapage)

const seo = {
	title:datapage.titlePage,
	description: datapage.description,
};
---

<Layout  {seo}>
	<section class="seccion-base" >
		<div class="container">
			<h1>{datapage.titlePage} Custom</h1>
			<p>{datapage.description}</p>
		</div>
	</section>
</Layout>