---

const suma = 2+5;

console.log(suma)
---

<html lang="es" data-theme="ligth" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="dark">
		<h1 class=" text-primary " >Astro</h1>
		
		<p >Hola</p>
	</body>
</html>

<style is:global>
	body{
		@apply bg-zinc-1;
	
	}
	
</style>