---
import ArqTheme from "@components/theme/arq/ArqTheme.astro";
import LayoutPage from "@layouts/LayoutPage.astro";

const datapage = {
    titlePage:"Productos",
    description:" Subtitulo General de productos"
}
console.log(datapage)

const seo = {
	title:datapage.titlePage,
	description: datapage.description,
};
---

<LayoutPage  {seo} titlepage={datapage.titlePage} subtitle={datapage.description}  >
	<section class="seccion-base" >
		<div class="container">
				
		</div>
	</section>
</LayoutPage>