---
import ColumFooter from "./theme/ColumFooter.astro";
import MainMenu from "./theme/MainMenu.astro";
---

<footer id="footer" class="contrast w-full">
    <div class="container sm:py-16 ">
        <div class="grid lg:grid-cols-5 md:grid-cols-3 gap-12">

        
            <div class="py-4 md:py-8 lg:py-16 col-span-2">
                <h5>Servicios</h5>
                <p>
                    lorem interdum. Quisque erat sem, pellentesque quis auctor
                    ut, faucibus et dui. Etiam et aliquam ligula. Integer ut
                    tincidunt enim. Aliquam erat volutpat. Nunc finibus, neque
                    in tincidunt semper, massa mauris ullamcorper magna, vel
                    tristique neque sapien sit amet nisl.
                </p>
            </div>
            
            <div class="py-4 md:py-8 lg:py-16">
                <h5>Servicios</h5>
                <MainMenu class="footer-class" />
            </div>
            <div class="py-4 md:py-8 lg:py-16">
                <h5>Información</h5>
                <MainMenu class="footer-class" />
            </div>
            <div class="py-4 md:py-8 lg:py-16">
                <h5>Contacto</h5>
                <MainMenu class="footer-class" />
            </div>
        </div>
    </div>
</footer>

<p class="text-center py-8">
    <span>STAND</span>OUT | STANDS & STAGES ® TODOS LOS
    DERECHOS RESERVADOS
</p>
<div class="bg-brand-base sm:bg-black md:bg-brand-red lg:bg-brand-gray xl:bg-brand-base h-2" ></div>

<style>
    h5{
        @apply mb-4; 
    }
</style>