---
import "@unocss/reset/normalize.css";
import StyleBase from "@components/theme/StyleBase.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SEO from "@components/SEO.astro";
import type { Props as SEOProps } from "@components/SEO.astro";
import ThemeSwicher from "@components/theme/ThemeSwicher.astro";
import ToggleButton from "@components/widgets/ToggleButton.astro";

export interface Props {
	seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html >
<html lang="es" data-theme="ligth">
	<head>
		<SEO {...seo} />
	</head>
	<body >
		<Header />
		
		<main>
			<slot />
			<ToggleButton />
		</main>
		<Footer />
		<ThemeSwicher />

		
		<script src="../app.js"></script>
		<script is:inline src="/assets/js/fslightbox.js"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
	</body>
</html>
<StyleBase />