---
import "@unocss/reset/normalize.css";
import StyleBase from "@components/theme/StyleBase.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SEO from "@components/SEO.astro";
import type { Props as SEOProps } from "@components/SEO.astro";

export interface Props {
	seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html >
<html lang="es" >
	<head>
		<SEO {...seo} />
	</head>
	<body data-theme="light">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />

		<script src="../app.js"></script>
		<script is:inline src="/assets/js/fslightbox.js"></script>
	</body>
</html>
<StyleBase />

<script>
	
	


	// Detectar tema 


</script>